<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>My Perfect Recipe</title>
    <link href="{{ url_for('static', filename='js/about.d4796f34.js') }}" rel=prefetch>
    <link href="{{ url_for('static', filename='css/app.faa11f67.css') }}" rel=preload as=style>
    <link href="{{ url_for('static', filename='css/chunk-vendors.d39e9fad.css') }}" rel=preload as=style>
    <link href="{{ url_for('static', filename='js/app.39884faf.js') }}" rel=preload as=script>
    <link href="{{ url_for('static', filename='js/chunk-vendors.477f3ff0.js') }}" rel=preload as=script>
    <link href="{{ url_for('static', filename='css/chunk-vendors.d39e9fad.css') }}" rel=stylesheet>
    <link href="{{ url_for('static', filename='css/app.faa11f67.css') }}" rel=stylesheet>
  </head>
  <body>
    <div id=app></div>
    <script src="{{ url_for('static', filename='js/chunk-vendors.477f3ff0.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.39884faf.js') }}"></script>
  </body>
</html>